<nb-card>
  <nb-card-header>
    Bienvenido
  </nb-card-header>
  <nb-card-body>
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Cursos Matriculados</nb-card-header>

      </nb-card>
    </div>

    <ng2-smart-table class="order-table" (custom)="onViewCurso($event)" (userRowSelect)="onSelectRow($event)" [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>

    <br/><br/><br/><br/>
    <nb-card *ngIf="selectedCourseId">
      <nb-card-header>
        Evaluaciones del curso:  {{codigoCursoSeleccionado}} <br>
      </nb-card-header>
      <nb-card-body>

        <div class="col-lg-12" *ngIf="this.createDetailFormEnabled">
          <nb-card>
            <nb-card-header>{{getOperacionDetalle()}} </nb-card-header>
            <nb-card-body>
              <div class="full-name-inputs">
                <input type="text" [(ngModel)]="idDetalleForm" nbInput disabled fullWidth placeholder="id">
              </div>



              <div class="full-name-inputs">
                <nb-select placeholder="Estado Atención" *ngIf="estadoDetalleVisitaCbo" fullWidth (selectedChange)="changeEstadoDetalleVisita($event)" selected="{{estadoDetalleVisitaId}}" >
                  <nb-option *ngFor="let option of estadoDetalleVisitaCbo" value="{{ option.id }}">
                    {{ option.estado }}
                  </nb-option>
                </nb-select>
              </div>

              <div class="full-name-inputs">
                <input nbInput fullWidth
                       [(ngModel)]="fechaCreacionDetalle"
                       placeholder="Fecha Creación"
                       [nbDatepicker]="fechaCreacionDetallePicker">
                <nb-datepicker #fechaCreacionDetallePicker></nb-datepicker>
              </div>

              <div class="full-name-inputs">
                <input nbInput fullWidth [(ngModel)]="horaDetalle" [nbTimepicker]="timepicker">
                <nb-timepicker #timepicker></nb-timepicker>
              </div>



              <div class="full-name-inputs">
                <input type="text" [(ngModel)]="comentario" nbInput fullWidth placeholder="Comentario de la atención">
              </div>

              <div class="buttons-row">
                <button (click)="saveDetalleButton()"  [disabled]="shouldDisableSaveDetailButton()" nbButton [status]="'primary'">
                  {{getOperacionDetalle()}}
                </button>
                <button (click)="cleanDetalleForm()" nbButton [status]="'warning'">
                  Limpiar
                </button>
              </div>
            </nb-card-body>
          </nb-card>
        </div>

        <ng2-smart-table *ngIf="selectedCourseId" class="order-table" (userRowSelect)="onSelectDetailRow($event)" [settings]="detailSettings" [source]="detalleSource">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>

  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Error</nb-card-header>
    <nb-card-body><br>{{errorMsg}}<br></nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Ok</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
