<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">
          <a href="#" class="d-flex justify-content-center">
            <img src="assets/images/logo.png" height="70px" />
          </a>
          <div class="row">

              <div class="auth-header" style="margin: 0 auto;">
                <h2 class="text-secondary mt-5" style="color:#5c38a3 !important;"><b>Confiedy - Aula Virtual</b></h2>
<!--                <p class="fs-4 mt-2">Ingresa con:</p>-->
              </div>

          </div>
<!--          <div class="row" style="padding-left:15px; padding-right:15px;">-->
<!--            <button type="button" class="btn btn-primary btn-block">-->
<!--              <img src="assets/images/authentication/google-icon.svg" height="20px" />Iniciar Sesión con Google-->
<!--            </button>-->
<!--          </div>-->

<!--          <div class="row" style="padding:15px;">-->
<!--            <button type="button" class="btn btn-light btn-block">-->
<!--              <img src="assets/images/authentication/facebook.png" height="20px" />Iniciar Sesión con Facebook-->
<!--            </button>-->
<!--          </div>-->
          <div class="saprator mt-3">
            <span>Tu mejor aliado</span>
          </div>
          <h5 class="my-4 d-flex justify-content-center" style="color:#5c38a3 !important;"><b> Inicia Sesión con tu usuario.</b></h5>

          <div class="form-group">
            <label for="exampleInputEmail1">Usuario</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu usuario">
<!--            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresa tu Contraseña">
          </div>


          <div class="d-flex mt-1 justify-content-between">
<!--            <div class="form-check">-->
<!--              <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />-->
<!--              <label class="form-check-label text-muted" for="customCheckc1">Recuérdame</label>-->
<!--            </div>-->
            <h5 class="text-secondary">
<!--              <a href="javascript:">Olvidaste tu contraseña?</a>-->
            </h5>
          </div>
          <div class="row" style="padding-left:15px; padding-right:15px;">
              <button type="button" class="btn btn-primary btn-block">
                Iniciar Sesión
              </button>
          </div>
          <hr />
          <h5 class="d-flex justify-content-center">
            <a [routerLink]="['/guest/register']">¿Deseas Registrarte?</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
