<nb-card>
  <nb-card-header>
    {{mantenedor}}
  </nb-card-header>
  <nb-card-body>
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>{{getOperacion()}} Información Personal</nb-card-header>
        <nb-card-body>
          <div class="full-name-inputs">
            <input type="text" [(ngModel)]="usuario" nbInput disabled fullWidth placeholder="usuario">
          </div>
          <div class="full-name-inputs">
            <input type="password" [(ngModel)]="password" nbInput fullWidth placeholder="password">
          </div>
          <div class="full-name-inputs">
            <input type="text" [(ngModel)]="nombre" nbInput fullWidth placeholder='Actualize su nombre'>
          </div>
          <div class="full-name-inputs">
            <input type="text" [(ngModel)]="apellido" nbInput fullWidth placeholder="Actualize su apellido">
          </div>
          <div class="full-name-inputs">
            <input type="text" [(ngModel)]="carrera" nbInput fullWidth placeholder="Actualize su carrera profesional">
          </div>

          <div class="full-name-inputs">
            <input nbInput fullWidth
                   [(ngModel)]="fechaNacimiento"
                   placeholder="Fecha Nacimiento"
                   [nbDatepicker]="formDateFin">
            <nb-datepicker #formDateFin></nb-datepicker>
          </div>

          <div class="buttons-row">
            <button (click)="saveButton()"  [disabled]="shouldDisableSaveButton()" nbButton [status]="'primary'">
              {{getOperacion()}}
            </button>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Error</nb-card-header>
    <nb-card-body><br>{{errorMsg}}<br></nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Ok</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
